body {
	background-image: url('/resources/user/images/allround.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.iconic {
	padding-bottom: 30px;
	padding-top: 30px;
}

.Sidebar-link {
	transition: all .4s;
}

.Sidebar-link:hover {
	background-color: #C8EFD4;
	border-radius: 5px;
	box-shadow: 2px 5px 10px #C8EBFA;
}

.current {
	background-color: #C8EFD4;
	border-radius: 7px;
	box-shadow: 2px 5px 10px #C8EBFA;
}

.current:hover {
	background-color: #C8EFD4;
	border-radius: 7px;
	box-shadow: 2px 5px 10px #C8EBFA;
	transform: translateY(-1px);
}